/* General */
body {
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(145deg, black, grey);
}
/* jumbotron */
.jumbotron {
    background-color: transparent;
    color: white;
    text-align: center;
}
.jumbotron button {
    margin: 10px auto; 
}
.red-name, .blue-name {
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    border: none;
}
input.red-name, input.blue-name {
    font-size: 2rem;
    word-wrap: break-word;
}
.red-score, .blue-score {
    font-weight: 900;
}
.jumbotron .red-score,
 .jumbotron .blue-score {
    font-size: 3rem;
 }
 .divider-line {
    width: 90%;
    border: 1px solid white;
    margin: 15px auto;
 }
/* section headers */
.run-header {
    padding: 10px; 
    color: white;
}
.red-score-div {
background-color: rgb(87, 1, 1);
margin-right: 10px;
}
.blue-score-div {
background-color: navy;
}
.blue-score-div, .red-score-div {
    border-radius: 10px;
}

.submit-btn {
    background: linear-gradient(164deg, rgb(224, 224, 224), rgb(102 102 102));
    border: none; 
}


/* main */
.player-name {
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-size: large;
    padding-left: 10px;
}
.red-row {
    background: linear-gradient(#e29c9c,#e77474);
    border-radius: 10px 10px 0 0;
}
.blue-row {
    background: linear-gradient(#8484f4, #6a6afc); 
    border-radius: 0 0 10px 10px;
}
.red-row, .blue-row {
   padding: 10px;
   padding-top: 20px;
   font-weight: bold;
}
